* {
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: yellow;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 500px;

}

.logo {
  width: 250px;
  height: 250px;
  margin: auto;
}

.slogan {
  color: black;
}

/* configuração da frase de slogan */
.slogan>h2 {
  font-size: 30px;
  font-weight: bold;
  margin-left: 120px;
}

.menuprincipal {
  flex-direction: column;
  font-weight: bold;
  margin-bottom: 20px;
}


.icone {
  width: 30px;
  height: 30px;
}


/* hover: dispara um evento. Aqui ele muda o tamanho do link quando passamos o mouse em cima  */
header nav ul li a:hover {
  font-size: 25px;

}

/* definição de hover do menu principal */

header nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: black;

}

/* definição de hover do menu principal */
header nav ul li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;

}


#container-imagem {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-image: url(imagens/transpreservas2.jpg);
  background-repeat: no-repeat;
}

.caixa-p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;

}

/* caixa de inputs  */
 .pesquisa {
  background-color: #66646446;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px;
  color: #000000;
  display: inline-block;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  font-weight: bold;
  padding: 20px;

}

#titulo_pesquisa {
  font-size: 30px;
  font-weight: bold;
  text-shadow: #000 0px 1px 2px;
  margin-bottom: 30px;
  text-align: center;

}


.caixa-pesquisa {
 display: flex;
 flex-wrap: wrap;

}

.caixa-pesquisa > div {
 margin: auto;


}

/* caixa transparente com os campos  */
.caixa-pesquisa > input {
  width: 150px;
  border-radius: 4px;
  margin-right: 20px;
  margin-top: 20px;
  margin-left: 20px;
  

}

/* definição dos label */
.caixa-pesquisa > label {
  font-size: 30px;
  margin-right: 15px;
  margin-left: 15px ;
 
}


.btn-pes {
  border-radius: 4px;
  width: 100px;
}

.btn-pes:hover {
  background-color: yellow;
  font-size: 15px;
  border-radius: 10px;
 
}


 /* Estilo dos Cards  */

.cards {
  /* width: 90%; */
  max-width: 980px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* Template do grid */
  grid-gap: 20px;
}

.cards2 {
  /* width: 90%; */
  max-width: 980px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* Template do grid */
  grid-gap: 20px;

}

.text--medium {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: rgb(187, 185, 185);

}

.card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  /* sombra das caixas */
  box-shadow: 5px 5px 15px -4px #000000;
  transition: all 0.3s ease 0s;
}

.card:hover {
  transform: translateY(-7px);
  /* Efeito dos cards pra cima... pra cima Y pra baixo X... plano cartesiano*/
}


.image {
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  position: relative;
}

.image img {
  position: absolute;
  /* coloca o elemento em relação ao seu pai, e altera os elementos ao redor dele */
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  margin: 20px;
}

.titulocard {
  font-size: 50px;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;
  border-style: groove;
}

.text--medium {
  color: #000000;
  font-weight: bold;
}


#myFooter {
  display: inline-block;
  background-color: yellow;
  margin-top: 10%;
  width: 100%;
  ;


}

footer div div div ul li a {
  font-style: none;
  text-decoration: none;
  list-style: none;
  color: #000000;
  font-weight: bold;
  font-size: 16px;

}

footer div div div ul li a:hover {
  font-size: 16px;
  text-decoration: none;

}

Footer li {
  margin-bottom: 10px;
}

footer>h5 {
  font-weight: bold;
}

.logofinal {
  display: flex;
  margin-top: 5px;
}

@media screen and (max-width: 460px ){
  header .container {
    height: 700px;
  }

  .slogan>h2 {
    font-size: 20px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
  }


  header nav ul li a {
    text-decoration: none;
    font-size: 15px;
    color: black;
  
  }
  .logo img {
    display: flex;
    display: flex;
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }

.logo {
   margin-top: 20px;
   margin-bottom: 20px;
}

  .caixa-p{
    margin: auto;
    height: 500px;
    width: 200px;
  
  }

.pesquisa {
  width: 100%;
}
#titulo_pesquisa {
  font-size: 25px;
}


}