* {
  font-family: 'Montserrat', sans-serif;
}

header {
  background-color: yellow;
  width: 100%;
  display: flex;
  flex-direction: column;
}

header .container {
  display: flex;
  flex-direction:column;
  align-items: center;
  width: 100%;
  height: 500px;

}

.logo {
  width: 250px;
  height: 250px;
  margin: auto;
}
  

.logo > img {
  width: 250px;
  height: 250px;
}


.slogan {
  color: black;
}
 
/* configuração da frase de slogan */
.slogan > h2 {
 font-size: 30px;
 font-weight: bold;
 margin-left: 120px;
}

.menuprincipal {
  flex-direction: column;
  font-weight: bold;
  margin-bottom: 20px;
}


.icone {
  width: 25px;
  height: 25px;
}


/* hover: dispara um evento. Aqui ele muda o tamanho do link quando passamos o mouse em cima  */
header nav ul li a:hover {
  font-size: 25px;

}

/* definição de hover do menu principal */

header nav ul li a {
  text-decoration: none;
  font-size: 20px;
  color: black;

}

/* definição de hover do menu principal */
header nav ul li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;

}

.cards {
  /* width: 90%; */
  max-width: 980px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* Template do grid */
  grid-gap: 20px;
}

.cards2 {
  /* width: 90%; */
  max-width: 980px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* Template do grid */
  grid-gap: 20px;

}

.text--medium {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: rgb(187, 185, 185);

}

.card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  /* sombra das caixas */
  box-shadow: 5px 5px 15px -4px #000000;
  transition: all 0.3s ease 0s;
}

.card:hover {
  transform: translateY(-7px);
  /* Efeito dos cards pra cima... pra cima Y pra baixo X... plano cartesiano*/
}


.image {
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  position: relative;
}

.image img {
  position: absolute;
  /* coloca o elemento em relação ao seu pai, e altera os elementos ao redor dele */
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  margin: 20px;
}

.titulocard {
   font-size: 50px;
   text-align: center;
   margin-top: 70px;
   margin-bottom: 70px;
   border-style: groove;
}

.text--medium {
  color: #000000;
  font-weight: bold;
}


#myFooter {
  display: inline-block;
  background-color: yellow;
  margin-top: 10%;
  width: 100%;
}

footer div div div ul li a  {
  font-style: none;
  text-decoration: none;
  list-style: none;
  color: #000000;
  font-weight: bold;

}

footer div div div ul li a:hover {
  font-size: 25px;
  text-decoration: none;
}

footer > h5 {
  font-weight: bold;
}

.logofinal {
  display: flex;
  margin-top: 5px;
}


